
<header>
    <img id="burger" src="/assets/img/burger.jpg">
    <div>
		<div class="col-sm-4 col-sm-offset-4"><h1>Eat Da Burger</h1></div>
	</div>
</header>

<div>	
	<section>
		<div class="notEaten">			
			{{#each burgers}}
				{{#unless devoured}}
					<form action="/update?_method=PUT" method="POST" class="button-size">						
						<p class="not_eaten">	
							{{@index}} {{burger_name}}						
							<input type="hidden" name="id" value="{{this.id}}">
							
						</p>
						<button class="devour" type="submit">Devour it!</button>
					</form>
				{{/unless}}
			{{/each}}
			
		</div>
		<div class="eaten">			
		 	{{#each burgers}}
		 		{{#if devoured}}
		 			<p class="devoured">
		 				{{@index}} {{burger_name}}
		 			</p>
		 		{{/if}}
		 	{{/each}}					
		</div>
	</section>
</div>
<div>
	<section>
		<div class="addBurger">
			<form action="/create" method='POST'>	    
			      <textarea id="addedBurger" name="burger" rows="4" cols="40"></textarea>	    
				<button type="submit" class="submit">Submit</button>
				<p class="text">Enter a burger you want to eat then click on the submit button.</p>
			</form>
		</div>
	</section>	
</div>




